@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


body {
   background: url(bananas.png);
   font-family: 'Raleway', sans-serif;
   color: #242424
}

a {
    color: #48b3f2;
    text-decoration:none;
}

a:hover {
    color: #4b93ec;
}

hr {
    margin: 3rem;
}

.header {
    text-align: center;
    background-color: #b9b9b9;
    width: fit-content;
    margin: 1rem auto;
    color: #fff;
    padding: 1rem 5rem;
}

#title {
    background-color: #333;
    padding: 1.9rem 2.9rem;
}

.container {
    background-color:#fff;
    margin:0px auto;
    margin-top:3rem;
    padding:2rem;
    padding-top:1rem;
    border-radius:0.25rem;
    width:fit-content;
}

#qrcode img {
    width: 100%;
    height:100%;
    max-width:80vh;
    image-rendering: pixelated;
    margin: 0px auto;
    display: block;
}

#cash_funding_address {
    margin: 0px auto;
    width: fit-content;
    font-size: 2rem;
}

#exchange_rate {
  font-size: 2rem;
  text-align: center;
}

.mono {
    font-family: 'Ubuntu Mono', monospace;
}
#token-details-table td {
    padding:0.4rem;
}
#intro {
    text-align:center;
    margin: 0px auto;
    max-width: 80vh;
}
#send-bch-here {
    font-size:2.5rem;
    text-align:center;
}
